<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="menu-bar">
      <ul>
        <li class="active"><a href="homepage"><i class="fa-solid fa-house"></i>Home</a></li>
        <li><a href="#">Milestones</a>
          <div class="sub-menu-1">
            <ul>
              <li><a href="#">2 Months</a></li>
              <li><a href="#">4 Months</a></li>
              <li><a href="#">6 Months</a></li>
              <li><a href="#">9 Months</a></li>
              <li><a href="#">1 Year</a></li>
              <li><a href="#">2 Years</a></li>
              <li><a href="#">3 Years</a></li>
              <li><a href="#">4 Years</a></li>
              <li><a href="#">5 Years</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#">Library</a>
          <div class="sub-menu-1">
            <ul>
              <li><a href="podcasts">Podcasts</a></li>
              <li><a href="#">Audiobooks</a></li>
              <li><a href="#">Educational</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#">Comfort</a>
          <div class="sub-menu-1">
            <ul>
              <li><a href="#">Lullabies</a></li>
              <li><a href="soothing">Soothing Sounds</a></li>
              <li><a href="#">Relaxation Techniques</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <section class="cards-section">
      <div class="card">
        <div class="card-container">
          <div class="card-front">
            <h1>Podcasts</h1>
          </div>
          <div class="card-back">
            <p>Discover a captivating collection of child-friendly podcasts on our app, featuring engaging stories, educational content, and informative discussions that spark curiosity and foster learning in young minds. Immerse your child in a world of audio adventures, expanding their knowledge and inspiring their imagination with each episode.</p>
            <a href="podcasts" class="signup-button">View Podcasts</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-container">
          <div class="card-front">
            <h1>Audiobooks</h1>
          </div>
          <div class="card-back">
            <p>Probe a captivating collection of immersive and educational audio stories, bringing tales to life with engaging narrations and sound effects. Dive into a world of imagination and learning as your child explores a wide range of genres, expands their vocabulary, and enhances their listening skills through these captivating audiobooks.</p>
            <a href="#" class="signup-button">View Audiobooks</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-container">
          <div class="card-front">
            <h1>Educational</h1>
          </div>
          <div class="card-back">
            <p>Encounter a treasure trove of interactive activities, games, and resources designed to foster curiosity and enhance learning in children. From engaging quizzes to informative articles, children can explore various subjects, expand their knowledge, and have fun while acquiring new skills and concepts.</p>
            <a href="#" class="signup-button">View Educational</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-container">
          <div class="card-front">
            <h1>Lullabies</h1>
          </div>
          <div class="card-back">
            <p>Dive into a soothing sanctuary for bedtime routines, providing a collection of gentle melodies and calming sounds that create a tranquil environment for children to relax and drift off to sleep. With a variety of lullabies to choose from, parents can create a peaceful ambiance that promotes a restful night's sleep and a sense of comfort for their little ones.</p>
            <a href="#" class="signup-button">View Lullabies</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-container">
          <div class="card-front">
            <h1>Soothing Sounds</h1>
          </div>
          <div class="card-back">
            <p>Find a serene oasis of calming audio compositions, offering a variety of ambient sounds, nature melodies, and white noise to create a peaceful environment for relaxation, focus, and stress relief. Whether it's the gentle rustle of ocean waves or the tranquil melodies of a forest, users can immerse themselves in a symphony of soothing sounds to find tranquility and promote a sense of well-being.</p>
            <a href="soothing" class="signup-button">View Soothing Sounds</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-container">
          <div class="card-front">
            <h1>Relaxation Techniques</h1>
          </div>
          <div class="card-back">
            <p>Explore a serene corner dedicated to teaching children calming strategies, such as deep breathing exercises and mindfulness techniques, to help them manage stress, improve focus, and cultivate emotional well-being. Through engaging activities and gentle guidance, children can develop valuable skills to navigate their emotions and find inner peace, promoting healthy mental and emotional development.</p>
            <a href="#" class="signup-button">View Relaxation Techniques</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>